<div class="app-container">
    <!-- Панель в правом верхнем углу только для мобильной версии -->
    <div class="mobile-time">
      <app-exchange-time #exchangeTimeMobile (updateServerTime)="onUpdateServerTime()"></app-exchange-time>
    </div>
    
    <!-- Основной тулбар с компонентами -->
    <p-toolbar styleClass="app-toolbar">
      <ng-template pTemplate="start">
        <app-exchange-selector (exchangeSelected)="onExchangeSelected($event)"></app-exchange-selector>
        <p-divider layout="vertical" styleClass="mx-2 desktop-only"></p-divider>
        <app-exchange-time #exchangeTime class="desktop-only" (updateServerTime)="onUpdateServerTime()"></app-exchange-time>
      </ng-template>
      
      <ng-template pTemplate="end">
        <app-filter-sort (filterChanged)="onFilterChanged($event)" (sortChanged)="onSortChanged($event)"></app-filter-sort>
      </ng-template>
    </p-toolbar>
    
    <!-- Спиннер загрузки -->
    <div *ngIf="loading()" class="loading-overlay">
      <p-progressSpinner></p-progressSpinner>
    </div>
    
    <!-- Таблица криптовалют -->
    <app-crypto-table [instruments]="filteredInstruments()" [loading]="false" [error]="error()"></app-crypto-table>
  </div>